.github/
.githooks/
test-fixtures/
debug-server/src/
debug-server/pom.xml
debug-server/target/
scripts/
docs/
*.md
!README.md
.gitignore
tsconfig.json
**/*.ts
**/.env
catalog-info.yaml
mkdocs.yml
values-*.yaml

